:root {
 --text-color: white;
 --header-color: rgb(245, 10, 210);
}

body {
  font-size: 16px;
  background-color: rgb(34, 32, 32);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

main header {
  color: var(--header-color);
  text-align: center;
  font-size: 40px;
  border-style: solid;
  border-color: white;
  
}


h1 {
  color: var(--header-color);
  text-align: center;
  font-size: 350%;
}

h2{
  color: var(--text-color);
}

header p {
  color: var(--text-color);
  text-align: center;
}

main p {
  color: var(--text-color);
}


pre {
  color: var(--text-color);
  border-style: solid;
  margin: 20px;
  padding: 10px;
  border-radius: 8px 8px 8px 8px;
  background-color: var(--header-color);
}

.card {
  border-style: dashed;
  padding: 10px;
  flex: 0 0 33.33%;
  margin: 20px;
  border-width: 3px;
  border-color: white;
}

.example-icon {
  color: white;
  border-style: solid;
  padding: 20px;
  margin: 5px;
  background-color: rgb(21, 9, 241);
}


.example-flex-row {
  border-style: solid;
  border-color: white;
  background-color: var(--header-color);
  border-radius: 8px 8px 8px 8px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}
 .example-flex-column{
  border-style: solid;
  border-color: white;
  background-color: var(--header-color);
  border-radius: 8px 8px 8px 8px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
 }


 .example-grid-container{
  border-style: solid;
  border-color: white;
  background-color: var(--header-color);
  border-radius: 8px 8px 8px 8px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;


 }

